h1 {
  font-style: italic;
}

p {
  color: red;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
}

.dark-light {
  background-color: white;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}